<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Com'municate !</title>
<!-- <link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"></link>  -->

<meta charset="utf-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h1>Bootstrap Modal</h1>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" id="btnId">Open Modal</button>

  <!-- Bootstrap Modal -->
  <div class="modal fade" id="modalId" role="dialog">
    <div class="modal-dialog">
    
      <!-- Bootstrap Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Header</h4>
        </div>
        <div class="modal-body">
          <p id="greetingId"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


	<h1>Welcome to Com'municate !</h1>
	<a th:href="@{/expressions}">Expressions</a> |
	<a th:href="@{/expressions/form}">Add an expression</a>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>